.our-leadership-heading{
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 800;
}
.our-leadership-body{
    padding: 3%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    display: flex;
    /* background-color: aqua; */
}
@media screen and (max-width:500px) {
    .our-leadership-body{
        padding: 30px 25px 50px 25px ;
    }
    .our-leadership-heading{
        font-size: 28px;
    }
    
}