.personal-team{
    margin-top: -10px;
    /* background-color: aqua; */
    height: 95vh;
    margin-bottom: 40px;
}
.personal-team-heading{
   
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    /* background-color: antiquewhite; */
}
.personal-team-body{
    padding: 0 80px 0 80px;
    height: 75%;
    /* background-color: brown; */
}
.personal-team-heading p{
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 300;
}
.personal-team-heading h1{
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 900;
}
.swiper4{
    padding-top: 25px;
    height: 100%;
}
.swiper4-slide{
    overflow: hidden;
    height: 75%;
    /* background-color: coral; */
}
.swiper4 .swiper-button-prev {
    border-radius: 4px;
    top: 88%;
    left: 45.8%;
    height: 40px;
    width: 41px;
    transition: background-color 0.4s ease, color 0.5s ease; /* Added color transition */
}
.swiper4 .swiper-button-next {
    border-radius: 4px;
    top: 88%;
    right: 45.8%;
    height: 40px;
    width: 41px;
    transition: background-color 0.4s ease, color 0.5s ease; 
}
.swiper4 .swiper-button-next:after{
    font-size: 15px;
    color: black;
}
.swiper4 .swiper-button-prev:after{
    font-size: 15px;
    color: black;
}
.swiper4 .swiper-button-next:hover:after,
.swiper4 .swiper-button-prev:hover:after {
  color: white; /* Change icon color on hover */
}
.swiper4-slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.pt-content{
    /* overflow: hidden; */
    position: absolute;
    top: 74%;
    left: 0;
    padding: 15px 25px;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: 350ms;
}
.swiper4-slide:hover .pt-content{
    top: 0;
    padding: 45px 25px;
}
#pt-s1{
    background-image: url(/src/assets/team1.jpg);
    background-position: center;
    background-size: cover;
}
#pt-s2{
    background-image: url(/src/assets/team2.jpg);
    background-position: center;
    background-size: cover;
}
#pt-s3{
    background-image: url(/src/assets/team3.jpg);
    background-position: center;
    background-size: cover;
}
#pt-s4{
    background-image: url(/src/assets/team4.jpg);
    background-position: center;
    background-size: cover;
}
#pt-s5{
    background-image: url(/src/assets/team5.jpg);
    background-position: center;
    background-size: cover;
}
#pt-s6{
    background-image: url(/src/assets/team6.jpg);
    background-position: center;
    background-size: cover;
}
.pt-content-1{
    font-weight: 700;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 5px;
    line-height: normal;
    color: #ffb600;
}
.pt-content-2{
    color: #fff;
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: 700;
}
.pt-content-3{
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased !important;
    line-height: 26px;
    font-size: 15px;
    color: white;
    margin-bottom: 1rem;
}
.pt-icon{
    color: white;
    cursor: pointer;
    margin-right: 10px;
}
.pt-icon:hover{
    color: #ffb600;
}
@media screen and (max-width:500px) {
    .personal-team-body{
        padding: 0 30px;
        height: 83%;
    }
    .swiper4 .swiper-button-next{
        visibility:visible;
    }
    .swiper4 .swiper-button-prev{
        visibility: visible;
    }
    .pt-content-3,.pt-content-1,.pt-content-2,.pt-content-4{
        text-align: center;
    }
    .swiper4-slide:hover .pt-content{
        top: 55%;
        padding: 23px 25px;
    }
    .pt-content{
        padding-top: 23px;
        top: 55%;
    }
    .swiper4 .swiper-button-next{
        right: 36%;
    }
    .swiper4 .swiper-button-prev{
        left: 36%;
    }
    .personal-team-heading h1{
        font-size: 25px;
    }
    .personal-team-heading{
        height: 17%;
    }
    .personal-team{
        height: 85vh;
    }
    
    
}