.counter{
    background-color: #252525;
    height: 50vh;
    margin: 0 0 5%;
    display: flex;
    justify-content: center;
}
@media screen and (max-width:500px) {
    .counter{
        height: 110vh;
        flex-direction: column;
        margin: 0 0 15% ;
    }
}