.happy-client{
    /* background-color: rgb(218, 0, 196); */
    display: flex;
    flex-direction: column;
    /* margin-top: 10px; */
}
.testi{
    /* background-color: antiquewhite; */
    height: 67vh;
    width: 42vw;
}
.client{
    height: 50vh;
    width: 42vw;
    /* background-color: pink; */
}
.help{
    height: 20vh;
    width: 35vw;
    background-color: #FFB600;
}
.newsletter{
    justify-content: space-around;
    align-items: center;
    display: flex;
    height: 20vh;
    width: 65vw;
    background-color: #252525;
}
.happy-client-section-1{
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
}
.happy-client-section-2{
    display: flex;
}
.testi h1, .client h1{
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 20px;
}
.testi section{
    display: flex;
    height: 285px;
    /* background-color: rgb(34, 184, 59); */
}
.testimonialIcon{
    font-size: 50px;
    font-weight: 700;
    color: #ffc009;
    height: 100%;
    width: 12%;
    /* background-color: aqua; */
}
.testimonialMain{
    margin: 30px 35px 0px 0px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    color: rgb(85, 85, 85);
    height: 100%;
    width: 85%;
    /* background-color: blueviolet; */
}
.person{
    align-items: center;
    /* justify-content: center; */
    display: flex;
    margin-top: 20px;
    height: 95px;
    /* background-color: rgb(189, 226, 43); */
}
.slidee{
    display: flex;
}
.person-img
{
    border-radius: 3px;
    height: 90%;
    width: 20%;
    /* background-color: blue; */
}
.person-text{
    padding: 0 0 0 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    height: 90%;
    width: 70%;
    /* background-color: rgb(146, 146, 196); */
}
.person-img img{
    border-radius: 8%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.person-text-heading{
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    color: rgb(255, 182, 0);
}
.person-text-name{
    font-size: 15px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}
.swip2 .swiper-pagination-bullets{
    margin: -10px 0;
}
.swip2 .swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0 6px;
}
.logo1{
    filter: grayscale(100%);
}
.client-logo{
    padding: 20px 0;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    display: grid;
    height: 100%;
    /* background-color: #ffc009; */
}
.logo1{
    display: flex;
    align-items: center;
    border: 1px solid #dadada;
    padding: 0 30px;
    height: 90%;
    width: 95%;
}
.logo1 img{
    width: 100%;
    object-fit: cover;
}
.help{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.help1{
    font-size: 18px;
    font-weight: 700;
}
.help2{
    color: white;
    font-size: 24px;
    font-weight: 700;
}
.newsletter-1-1{
    font-size: 18px;
    font-weight: 700;
    color: white;
}
.newsletter-1-2{
    font-size: 15px;
    font-weight: 400;
    color: white;
    font-family: "Open Sans", sans-serif;
}
.newsletter-2 input {
    padding: 0 15px;
    width: 380px;
    background: none;
    font-size: 12px;
    height: 45px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.newsletter-2 input:focus-within{
    background-color: white;
}
@media screen and (max-width:500px) {
    .happy-client{
        margin-top: 0;
    }
    .happy-client-section-1{
        margin-top: 0;
        flex-direction: column;
    }
    .testi{
        margin-bottom: 55px;
        height: 40vh;
        width: 100vw;
    }
    .client{
        width: 100vw;
    }
    .happy-client-section-2{
        flex-direction: column;
    }
    .help{
        height: 15vh;
        width: 100vw;
    }
    .newsletter{
        height: 25vh;
        justify-content: center;
        flex-direction: column;
        width: 100vw;
    }
    .newsletter-1-2{
        text-align: center;
    }
    .newsletter-2 input{
        margin-top: 25px;
        width: 300px;
    }
    .newsletter-1-1{
        margin-top: 10px;
    }
    .newsletter-1-2{
        margin-top: 5px;
    }
    .client-logo{
        column-gap: 10px;
        row-gap: 15px;
        margin: 0 25px;
        /* gap: 15px; */
        height: 85%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .logo1{
        height: 100%;
    }
    .client h1,.testi h1{
        text-align: center;
        margin: 0 15px 20px;
    }
    .testi section{
        margin-left: 15px;
    }
    .person{
        margin-top: 20px;
        height: 70px;
    }
    .testimonialMain{
        font-size: 13px;
    }
    .testimonialIcon{
        margin-right: 20px;
    }
}
