.pricing-body-heading1{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 28px;
    font-size: 18px;
    font-weight: 300;
    margin-top: 75px;
}
.pricing-body-heading2{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 46px;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 70px;
}
.pricing-body-main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 40px 100px 40px;
}
@media screen and (max-width:500px) {
    .pricing-body-main{
        padding: 0 40px 40px 40px;
        flex-direction: column;
    }
    .pricing-body-heading1{
        margin-top: 65px;
    }
    .pricing-body-heading2{
        margin-bottom: 60px;
    }
    
}