.news-body{
    /* background-color: darkcyan; */
    display: flex;
    padding: 70px 0 30px 0;
}
.news-body1{
    padding: 0 0 0 70px;
    width: 63vw;
    /* background-color: rebeccapurple; */
}
.news-body1-2{
    padding: 20px 0;
}
.post-meta{
    padding: 0 0 10px;
    align-items: center;
    display: flex;
    font-size: 15px;
    font-weight: 400;
}
.post-meta1{
    cursor: pointer;
    border-right: 1px solid #dadada;
}
.post-meta1:hover{
    color: #FFB600;
}
.last{
    border: none;
}
.entry-heading{
    font-size: 28px;
    font-weight: 700;
    margin: 5px 0 15px;
    line-height: 34px;
}
.news-body-para1{
    font-size: 15px;
    font-weight: 400;
    color: rgb(85, 85, 85);
    line-height: 26px;
    margin: 0 0 16px;
}
.quote-news{
    padding-left: 5px;
    color: #E5E5E5;
    font-size: 28px;
}
.news-body-para2{
    background-color: #F9F9F9;
    border-left: 3px solid #ffb600;
    padding-bottom: 25px;
    margin: 20px 0 ;
}
.news-body-para2-text{
    padding: 0 0 0 28px;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    color: rgb(85, 85, 85);
    line-height: 22px;
    font-family: "Open Sans", sans-serif;
}
.mrg{
    margin-top: 10px;
}
.meta-social{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}
.meta-btn{
    background-color: white;
    padding: 7px 10px;
    margin: 0 4px;
    border: 1px solid #dadada;
    color: #7c7c7c;
    font-size: 12px;
    font-weight: 400;
    transition: 250ms;
}
.meta-social2-text{
    color: rgb(85, 85, 85);
    font-size: 15px;
    font-weight: 400;
}
.meta-social2{
    display: flex;
}
.fb{
    background-color: #41578A;
    margin: 0 5px;
    color: white;
    font-size: 12px;
    padding: 6px 8px;
}
.tw{
    background-color: #64BAE2;
    margin: 0 5px;
    color: white;
    font-size: 12px;
    padding: 6px;
}
.gp{
    background-color: #C0343D;
    margin: 0 5px;
    color: white;
    font-size: 12px;
    padding: 6px;
}
.li{
    background-color: #3397B6;
    margin: 0 5px;
    color: white;
    font-size: 12px;
    padding: 6px 7px;
}
.site-engineer{
    border: 1px solid #dadada;
    display: flex;
    margin: 50px 0;
    padding: 20px 20px 15px;
}
.site-engineer img {
    margin-right: 30px;
}
.site-engineer-text-1{
    font-size: 18px;
    font-weight: 600;
}
.site-engineer-text-2{
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #999;
    border-left: 1px solid #AFAFAF;
    padding-left: 10px;
    margin-left: 10px;
    font-weight: 500;
}
/* .site-engineer-text{
    display: flex;
} */
.site-engineer-text2{
    font-family: "Open Sans", sans-serif;
    /* margin-top: 0.5rem; */
    margin-bottom: 0.5rem;
    font-size: 15px;
    line-height: 26px;
}
.site-engineer-text1{
    display: flex;
}
.site-engineer-text3{
    font-family: "Open Sans", sans-serif;
    display: flex;
    font-size: 15px;
    font-weight: 400;
    color:rgb(85, 85, 85);
}
.site-engineer-text3-link{
    cursor: pointer;
    color: black;
}
.body-comments{
    margin-bottom: 40px;
}
.body-comments h3{
    font-size: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: -.5px;
    font-weight: 700;
}
.comment-body-left img{
    width: 84px;
    height: 84px;
    margin-right: 30px;
}
.comment-head{
    color: #303030;
    font-size: 16px;
    font-weight: 600;
}
.comment-body{
    margin: 50px 0;
    display: flex;
}
.comment-head-end{
    color: #959595;
    /* margin-bottom: 5px; */
    font-size: 12px;
}
.comment-body-right1{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.reply{
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 700;
}
.reply:hover{
    color: rgb(255, 182, 0);
}
.news-body2{
    /* background-color: wheat; */
    width: 37vw;
}
.news-body1-1 img {
    width: 100%;
}
.metaIcn{
    color: #BBBBBB;
}
.rpl{
    padding: 30px 0;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    padding-left: 107px;
}
.meta-btn:hover{
    border: 1px solid #ffb600;
    color: white;
    background-color: #FFB600;
}
.news-form1{
    margin: 20px 0;
    font-size: 24px;
    font-weight: 700;
}
.news-body-form-1{
    width: 219px;
    box-shadow: none;
    border: 1px solid #dadada;
    padding: 5px 20px;
    height: 44px;
    background: none;
    color: #959595;
    font-size: 14px;
    border-radius: 0;
    margin-bottom: 1rem;
}
.nbftf{
    width: 100%;
    height: 167px;
}
.mr{
    margin: 0 30px 1em 30px;
}
.clro{
    background-color: #FFB600;
    margin-top: 20px;
}
.categorey{
    /* padding: 50px; */
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 30px;
    padding-left: 15px;
    text-transform: uppercase;
    border-left: 3px solid #ffb600;
}
.news-body2-2{
    padding: 0 50px;
}
.tag1{
    font-size: 15px;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    color: #303030;
    border-radius: 0;
    padding: 15px 0;
    padding-left: 0;
    font-weight: 400;
    border-bottom: 1px solid #ddd;
    display: block;
    transition: 400ms;
}
.tag2{
    border: none;
}
.tag1:hover{
    color: #ffb600;
}
.mtp{
    margin-top: 30px;
}
.news-body2-3{
    padding: 0 50px;
}
.tag3{
    padding: 8px 15px;
    font-size: 14px;
    color: black;
    margin: 3px;
}
@media screen and (max-width:500px) {
    .news-body{
        flex-direction: column;
    }
    .news-body1{
        padding: 0 25px;
        width: 100vw;
    }
    .news-body2{
        width: 100vw;
    }
    .post-meta{
        flex-wrap: wrap;
        row-gap: 7px;
        column-gap: 3px;
    }
    .meta-btn{
        margin-bottom: 7px;
    }
    .meta-social{
        align-items: flex-start;
    }
    .meta-social2{
        margin-top: 5px;
    }
    .site-engineer{
        align-items: center;
        flex-direction: column;
    }
    .site-engineer img{
        height: 167px;
        width: 167px;
        margin-right: 0;
        margin-bottom: 15px;
    }
    .comment-body-left img{
        height: 40px;
        width: 40px;
    }
    .rpl{
        padding-left: 0;
    }
    .mr{
        margin-left: 0;
    }
    .news-body-form-1{
        width: 100%;
        margin-bottom: 0.7rem;
    }
    .entry-heading{
        font-size: 20px;
    }
    .news-body2-2, .news-body2-3{
        padding: 0 30px;
    }
    .comment-head{
        font-size: 12px;
    }
    .news-body-para1{
        font-size: 12px;
        line-height: 21px;
    }
    .reply{
        font-size: 12px;
    }
    .comment-body{
        margin: 35px 0;
    }
    .site-engineer-text2{
        line-height: 21px;
        font-size: 12px;
        text-align: center;
    }
    .site-engineer-text3{
        font-size: 12px;
        display: flex;
        justify-content: center;
    }
    .site-engineer-text-1{
        margin-bottom: 10px;
        font-size: 15px;
    }
    .site-engineer-text1{
        justify-content: center;
    }
    .mm{
        margin-left: -13px ;
    }
}