.header-bottom{
    height: 20vh;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header-logo{
    display: flex;
    align-items: center;
    width: 20%;
    height: 90%;
    /* background-color: rgb(13, 107, 76); */
}
.header-content{
    margin-left: 100px;
    display: flex;
    width: 50%;
    height: 90%;
    /* background-color: beige; */
}
.box{
    /* background-color: indianred; */
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.header-logo img{
    height: 35px;
    width: auto;
}
.header-bottom-head{
    /* background-color: honeydew; */
    height: 30%;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    color: rgb(85, 85, 85);
    font-family: "Open Sans", sans-serif;
}
.header-bottom-main{
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: rgb(17, 17, 17);
    /* background-color: wheat; */
    height: 30%;
    width: 100%;
}
#border{
    /* margin: 0 10px; */
    padding: 0  20px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.box button{
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    background-color: #FFB600;
    color: white;
    width: 85%;
    height: 42%;
    transition: background-color 0.3s, color 0.3s; /* Add transition */
}
.box button:hover{
    background-color: #272D33;
    color: #FFB600;
}

#box{
    width: 32%;
}
#bx3{
    padding-left: 20px;
}
@media screen and (max-width:500px) {
    .header-bottom{
        height:22vh;
        flex-direction: column;
        justify-content: flex-start;
    }
    .header-logo{
        height: 35%;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .header-content{
        flex-wrap: wrap;
        margin-left: 0;
        display: flex;
        justify-content: center;
        width: 90%;
        height: 65%;
        align-items: flex-start;
    }
    .box{
        height: 50%;
        width: 45%;
    }
    #box{
        width: 45%;
    }
    #bx3{
        padding-left: 0;
    }
    #border{
        padding: 0;
        border: none;
    }
    .box button{
        height: 60%;
    }
}