.faq-accordian{
   padding: 50px 0 50px 50px;
    /* background-color: crimson; */
    /* height: 140vh; */
    width: 63vw;
}
.faq-head1{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
}
/* .faq-acc .accordion-button{
    display: none;
} */
 .faq-acc .wwww{
    font-size: 15px;
 }
 .accordion-item:first-of-type>.accordion-header .accordion-button {
    border-radius: 0;
 }
 .accordion-item:first-of-type{
    border-radius: 0;
 }
 .accordion-item:last-of-type{
    border-radius: 0;
 }
 .faq-head2{
   font-size: 24px;
    font-weight: 700;
    margin: 30px 0 30px;
 }
 @media screen and (max-width:500px) {
   .faq-accordian{
      width: 100vw;
      padding: 30px;
   }
 }