.slide
{
    height: 115vh;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#s1{
    background-image: url(/src/assets/slider-bg-1.jpg);
    background-size: cover;
    background-position: center;
}
#s2{
    background-image: url(/src/assets/slider-bg-2.jpg);
    background-size: cover;
    background-position: center;
}
#s3{
    background-image: url(/src/assets/slider-bg-3.jpg);
    background-size: cover;
    background-position: center;
}
.swiper-button-next{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.3);;
    padding: 10px;
    height: 55px;
    width: 50px;
}
.swiper-button-next:hover{
    background-color: #ffb600;
}
.swiper-button-prev:hover{
    background-color: #ffb600;
}
.swiper-button-prev{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.3);;
    height: 55px;
    width: 50px;
}
.swiper-button-next:after{
    font-weight: 900;
    font-size: 22px;
}
.swiper-button-prev:after{
    font-weight: 900;
    font-size: 22px;
}
.swiper-pagination-bullet-active{
    background-color: #ffb600;
}
.swiper-pagination-bullet{
    height: 10px;
    width: 10px;
}
.swiper-pagination-bullet:hover{
    background-color: #ffb600;
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    margin: 65px 0;
}
.Swiper-carousel-section1{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 90px;
    color: white;
    font-size: 30px;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    /* background-color: aqua; */
    /* height: 9%; */
}
.Swiper-carousel-section2{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 90px;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 60px;
    font-weight: 900;
    /* background-color: rgb(115, 0, 255); */
    /* height: 12%; */
}
.Swiper-carousel-section3{
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 90px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    /* background-color: rgb(148, 201, 201); */
    height: 6%;
}
.Swiper-carousel-section4{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 90px;
    /* background-color: rgb(94, 255, 0); */
    height: 15%;
}
.Swiper-carousel-section4 button{
    font-size: 14px;
    font-weight: 700;
    border-radius: 3px;
    font-family: "Montserrat", sans-serif;
    margin-left: 15px;
    border: none;
    color: white;
    background-color: #ffb600;
    padding: 12px 20px 10px;
    border: 2px solid #ffb600;
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Add this line */
}
.Swiper-carousel-section4 button:hover{
    background-color: black;
    color: white;
    border: 2px solid black;
}
#btn2{
    background-color:transparent;
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Add this line */
}
#btn2:hover{
    background-color: #ffb600;
    border: 2px solid #ffb600;
}
.s2{
    justify-content: center;
}
.s3{
    padding-left: 90px;
    justify-content: flex-start;
}
#btn3{
    margin-left: 90px;
    width: 18%;
    font-size: 14px;
    font-weight: 700;
    border-radius: 3px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 30px;
    border: none;
    color: white;
    background-color: #ffb600;
    padding: 12px 20px 10px;
    border: 2px solid #ffb600;
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Add this line */
}
#btn3:hover{
    background-color: black;
    border: 2px solid black;
}
.carousel-bottom{
    border-radius: 5px;
    position: relative;
    margin-top: -55px;
    padding: 0 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 6%;
    height: 19vh;
    background-color: #ffb600;
}
.carousel-bottom-text{
    color: white;
    font-size: 18px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}
.carousel-bottom-button button{
    border: none;
    color: white;
    background-color: black;
    font-size: 14px;
    font-weight: 700;
    padding: 12px 20px 10px;
    font-family: "Montserrat", sans-serif;
    border-radius: 3px;
}