.slide
{
    height: 115vh;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#s1{
    background-image: url(/src/assets/slider-bg-1.jpg);
    background-size: cover;
    background-position: center;
}
#s2{
    background-image: url(/src/assets/slider-bg-2.jpg);
    background-size: cover;
    background-position: center;
}
#s3{
    background-image: url(/src/assets/slider-bg-3.jpg);
    background-size: cover;
    background-position: center;
}
.swiper-button-next{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.3);;
    padding: 10px;
    height: 55px;
    width: 50px;
}
.swiper-button-next:hover{
    background-color: #ffb600;
}
.swiper-button-prev:hover{
    background-color: #ffb600;
}
.swiper-button-prev{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.3);;
    height: 55px;
    width: 50px;
}
.swiper-button-next:after{
    font-weight: 900;
    font-size: 22px;
}
.swiper-button-prev:after{
    font-weight: 900;
    font-size: 22px;
}
.swiper-pagination-bullet-active{
    background-color: #ffb600;
}
.swiper-pagination-bullet{
    height: 10px;
    width: 10px;
}
.swiper-pagination-bullet:hover{
    background-color: #ffb600;
}
.swip1 .swiper-pagination-bullets{
    margin: 65px 0;
}
.Swiper-carousel-section1{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 90px;
    color: white;
    font-size: 30px;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    /* background-color: aqua; */
    /* height: 9%; */
}
.Swiper-carousel-section2{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 90px;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 60px;
    font-weight: 900;
    /* background-color: rgb(115, 0, 255); */
    /* height: 12%; */
}
.Swiper-carousel-section3{
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 90px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    /* background-color: rgb(148, 201, 201); */
    height: 6%;
}
.Swiper-carousel-section4{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 90px;
    /* background-color: rgb(94, 255, 0); */
    height: 15%;
}
.Swiper-carousel-section4 button{
    font-size: 14px;
    font-weight: 700;
    border-radius: 3px;
    font-family: "Montserrat", sans-serif;
    margin-left: 15px;
    border: none;
    color: white;
    background-color: #ffb600;
    padding: 12px 20px 10px;
    border: 2px solid #ffb600;
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Add this line */
}
.Swiper-carousel-section4 button:hover{
    background-color: black;
    color: white;
    border: 2px solid black;
}
#btn2{
    background-color:transparent;
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Add this line */
}
#btn2:hover{
    background-color: #ffb600;
    border: 2px solid #ffb600;
}
.s2{
    justify-content: center;
}
.s3{
    padding-left: 90px;
    justify-content: flex-start;
}
#btn3{
    margin-left: 90px;
    width: 18%;
    font-size: 14px;
    font-weight: 700;
    border-radius: 3px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 30px;
    border: none;
    color: white;
    background-color: #ffb600;
    padding: 12px 20px 10px;
    border: 2px solid #ffb600;
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Add this line */
}
#btn3:hover{
    background-color: black;
    border: 2px solid black;
}
.carousel-bottom{
    bottom: 52px;
    z-index: 2;
    border-radius: 5px;
    position: relative;
    padding: 0 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 6%;
    height: 19vh;
    background-color: #ffb600;
}
.carousel-bottom-text{
    color: white;
    font-size: 18px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}
.carousel-bottom-button button{
    border: none;
    color: white;
    background-color: black;
    font-size: 14px;
    font-weight: 700;
    padding: 12px 20px 10px;
    font-family: "Montserrat", sans-serif;
    border-radius: 3px;
}
@media screen and (max-width:500px) {
    .slide{
        height: 45vh;
    }
    .Swiper-carousel-section1{
        height: 10%;
        font-size: 18px;
        padding-right: 45px;
    }
    .Swiper-carousel-section2{
        text-align: end;
        /* padding-left: 100px; */
        /* height: 10%; */
        font-size: 25px;
        padding-right: 45px;
    }
    .Swiper-carousel-section3{
        padding-right: 45px;
        height: 15%;
        text-align: end;
        font-size: 12px;
    }
    .Swiper-carousel-section4{
        padding-right: 45px;
        margin-bottom: 30px;
    }
    .Swiper-carousel-section4 button{
        padding: 10px 18px 10px;
        font-size: 10px;
    }
    .swiper-button-next{
        visibility: hidden;
    }
    .swiper-button-prev{
        visibility: hidden;
    } 
    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
        margin: 53px 0;
    }
    .s2{
        padding: 0 45px;
        text-align: center;
    }
    #btn3{
        margin-bottom: 15px;
        margin-left: 40px;
        width: 45%;
        font-size: 10px;
    }
    .s3{

        text-align: start;
        padding-left: 40px;
    }
    .s3 button
    {
        margin-left: 0;
    }
    .carousel-bottom{
        margin: 0 10%;
        height: 18vh;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }
    .carousel-bottom-text{
        font-size: 13px;
        margin-bottom: 20px;
    }
    .carousel-bottom-button button{
        font-size: 12px;
    }
}