.project-btn{
    display: flex;
    justify-content: center;
    /* background-color: coral; */
    margin: 60px 0 20px 0;
}
.project-btn button{
    transition: background-color 0.3s;
    border-radius: 3px;
    border: none;
    color: white;
    background-color: #ffb600;
    padding: 12px 20px 10px;
    font-weight: 700;
    font-size: 14px;
}
.project-btn button:hover{
    background-color: #111;
}
