.services-body{
    /* background-color: rgb(255, 204, 0); */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 70px 35px;
}
@media screen and (max-width:500px) {
    .services-body{
        padding: 70px 35px 25px 35px;
    }
}